body {
	margin: 1.2rem 0.6rem;
	max-width: 700px;
}

main {
	margin: 1rem 0;
}

pre {
	overflow-x: auto;
	margin: 1em 0;
}

footer {
	position: absolute;
	bottom: 1.2rem;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;

	display: flex;
	gap: 0.75em;
}

/* Post List */
#post-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#post-list li {
	margin: 0.25em 0;
	padding: 0;
}

#post-list a {
	display: block;
	text-decoration: none;
}

.post-list-title {
	text-decoration: underline;
}

.post-list-date {
	display: inline-block;
	width: 5em;
	padding-right: 11px;
	vertical-align: top;
}

#post-list li[data-page-kind="link"] .post-list-title::after {
	content: " ↗";
	font-family: system-ui, sans-serif;
}

/* Posts */
#post-body {
	margin: 2rem 0;
}

/* Table of Contents */
#toc ol {
	counter-reset: toc;
	list-style: none;
	padding-left: 0;
}

#toc ol ol {
	padding-left: 1.5em;
}

#toc li {
	counter-increment: toc;
}

#toc li::before {
	content: counters(toc, ".") ". ";
}

/* Footnotes */
.footnote-backlink,
.footnote-reference {
	margin-left: 0.2rem;
}
